spinach - A scalable Java Disque client
=============

Spinach is a scalable thread-safe Disque client providing both synchronous and
asynchronous APIs. Multiple threads may share one connection if they do not use blocking commands. Spinach is based on
[lettuce](https://github.com/mp911de/lettuce).
Multiple connections are efficiently managed by the excellent netty NIO
framework.

* Works with Java 6, 7 and 8
* [synchronous](https://github.com/mp911de/spinach/wiki/Basic-usage) and [asynchronous](https://github.com/mp911de/spinach/wiki/Asynchronous-Connections) APIs
* [SSL](https://github.com/mp911de/spinach/wiki/SSL-Connections) and [Unix Domain Socket](https://github.com/mp911de/spinach/wiki/Unix-Domain-Sockets) connections
* [Codecs](https://github.com/mp911de/lettuce/wiki/Codecs) (for UTF8/bit/JSON etc. representation of your data)

See the [Wiki](https://github.com/mp911de/spinach/wiki) for more docs.

Binaries/Download
----------------

Binaries and dependency information for Maven, Ivy, Gradle and others can be found at http://search.maven.org.

Releases of spinach are available in the maven central repository. Take also a look at the [Download](https://github.com/mp911de/spinach/wiki/Download) page in the [Wiki](https://github.com/mp911de/lettuce/wiki).

Example for Maven:

```xml
<dependency>
  <groupId>biz.paluch.redis</groupId>
  <artifactId>spinach</artifactId>
  <version>${spinach-release-version}</version>
</dependency>
```

All versions: [Maven Central](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22biz.paluch.redis%22%20AND%20a%3A%spinach%22)

Snapshots: [Sonatype OSS Repository](https://oss.sonatype.org/#nexus-search;gav~biz.paluch.redis~spinach~~~) 

